/*
COLORES UTILIZADOS PARA EL DESARROLLO DE LA PAGINA

AZUL: #64D9EE;
AZUL FUERTE: #142850
AZUL MEDIO: #4075AD
BLANCO: #FFFFFF
GRIS: #cbcbcb
GRIS OSCURO: #343838


PARA EFECTOS

MORADO: #5D009E
VERDE: #94EE64


*/


/* ESTILOS DE LA PAGINA */

nav {
    width: 100%;
}

.logo {
    width: 5%;
    height: 5%;
    margin-right: 30px;
}

body {
    background-color: #FFFFFF;
}

.display-7 {
    color: #343838;
    font-size: 120%;
    font-weight: 400;
    line-height: 1.7;
    border: 5px;
    ;
}

.bg-light {
    background-color: #4075AD !important;
}

.item1 {
    background-color: #64D9EE;
    width: 100%;
    padding: 1%;
}

.item2 {
    background-color: #64D9EE;
    width: 100%;
}

.contenedor {
    width: 100%;
    margin: 0%;
    padding: 1%;
}

.w-100 {
    width: 100% !important;
    height: 50% !important;
}

.carr {
    margin-top: 10px;
}

.footer {
    width: 100%;
    height: auto;
    padding: 1%;
    background-color: #4075AD;
}

.footer .cabeza {
    text-align: center;
    background-color: #FFFFFF;
}

.cont1 {
    text-align: center;
}

.cont2 {
    padding: 1%;
    text-align: center;
}

.cont3 {
    text-align: center;
}

.cont4 .logo {
    width: 20%;
    height: auto;
}

.cont5 {
    text-align: center;
    padding-top: 5%;
}

.contenedor .botton {
    background-color: #64D9EE;
}

.contenedor .botton:hover {
    background-color: #94EE64;
}

.row {
    margin: 0% !important;
}

.item1 .row .card {
    margin: .5%;
    width: 32%;
}

.Redes-sol {
    font-size: 20%;
}

h7 a {
    color: #343838;
}

h7 a:hover {
    color: #94EE64;
}

.face {
    text-align: center;
}

.registroU {
    padding: 2%;
    background-color: #cbcbcb;
    border-radius: 50px;
    background: rgba(158, 158, 158, 0.185);
    border: 3px solid #142850;
}

.registroUL {
    padding: 2%;
    background-color: #cbcbcb;
    border-radius: 50px;
    background: rgba(158, 158, 158, 0.185);
    border: 3px solid #142850;
}

.form-control {
    border: none;
    border-bottom: 1px solid #142850;
    background: transparent;
    outline: none;
    height: 40px;
    color: #343838;
    font-size: 16px;
}

.Registrame {
    text-align: center;
}

.btn-primary {
    background-color: #4075AD;
    color: #142850;
    margin-bottom: 2%;
}

.Boton {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.productos {
    margin: 2%;
}

.Cproduc {
    border: 2px solid #142850;
    border-radius: 6px;
    margin: .2%;
}

.infoP {
    text-align: justify;
    padding: 2%;
}


/* FIN ESTILOS DE LA PAGINA */


/* GRID PARA LA PAGINA */

.contenedor {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: minmax(120px, 2fr) minmax(121px, 1fr);
    grid-template-rows: minmax(150px, auto);
}

.footer {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);
    grid-template-rows: minmax(50px, auto) minmax(50px, auto) minmax(50px, auto);
    grid-template-areas: "cab cab cab" "ubi redes contacto" "logo drechos espacio";
}

.footer .cabeza {
    grid-column-start: cab;
    grid-column-end: cab;
}

.cont1 {
    display: grid;
    grid-template-columns: minmax(2px, 20px) minmax(10px, 1fr);
    grid-template-areas: "espacio icono";
}

.cont2 {
    display: grid;
    grid-template-columns: minmax(2px, 20px) minmax(10px, 1fr);
    grid-template-rows: minmax(20px, auto) minmax(20px, auto) minmax(20px, auto);
}

.cont3 {
    display: grid;
    grid-template-columns: minmax(2px, 20px) minmax(10px, 1fr);
    grid-template-rows: minmax(20px, auto) minmax(20px, auto) minmax(20px, auto);
}

.cont4 {
    display: grid;
    grid-template-columns: minmax(2px, 20px) minmax(10px, 1fr);
    grid-template-rows: minmax(20px, auto);
}

.formu {
    display: grid;
    grid-template-columns: minmax(20px, 350px) minmax(250px, 1fr) minmax(20px, 350px);
    grid-template-rows: minmax(20px, 50px) minmax(150px, auto) minmax(20px, 50px);
    grid-template-areas: "espaIz Cabeza espaDe" "espaIz formulario espaDe" "espaIz espaIn espaDe";
}

.formuL {
    display: grid;
    grid-template-columns: minmax(20px, 350px) minmax(250px, 1fr) minmax(20px, 350px);
    grid-template-rows: minmax(20px, 50px) minmax(150px, auto) minmax(20px, 50px);
    grid-template-areas: "espaIz Cabeza espaDe" "espaIz formulario espaDe" "espaIz espaIn espaDe";
}

.registroU {
    grid-column-start: formulario;
    grid-column-end: formulario;
    grid-row-start: formulario;
    grid-row-end: formulario;
}

.registroU {
    display: grid;
    grid-template-columns: minmax(20px, 1fr) minmax(250px, 1fr) minmax(20px, 1fr);
    grid-template-rows: minmax(100px, auto) minmax(150px, auto) minmax(100px, auto) minmax(50px, auto) minmax(50px, auto);
    grid-template-areas: "espaco formu1 espaci" "espaco formu2 espaci" "espaco formu3 espaci";
}

.registroUL {
    grid-column-start: formulario;
    grid-column-end: formulario;
    grid-row-start: formulario;
    grid-row-end: formulario;
}

.registroUL {
    display: grid;
    grid-template-columns: minmax(20px, 1fr) minmax(250px, 1fr) minmax(20px, 1fr);
    grid-template-rows: minmax(150px, auto) minmax(50px, auto) minmax(50px, auto);
    grid-template-areas: "espaco formu1 espaci" "espaco formu2 espaci";
}

.Boton {
    grid-column-start: formu2;
    grid-column-end: formu2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.nombre {
    grid-column-start: formu1;
    grid-column-end: formu1;
}

.espacod {
    grid-column-start: espaci;
    grid-column-end: espaci;
}

.espacoi {
    grid-column-start: espaco;
    grid-column-end: espaco;
}

.apes {
    grid-column-start: formu2;
    grid-column-end: formu2;
}

.emailG {
    grid-column-start: formu3;
    grid-column-end: formu3;
}

.Registrame {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}

.pass {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.productos {
    display: grid;
    grid-template-columns: minmax(50px, 100px) minmax(50px, 1fr) minmax(50px, 100px);
    grid-template-rows: minmax(50px, auto);
    grid-template-areas: "espacioI contenido espacioD";
}

.Cproduc {
    grid-column-start: contenido;
    grid-column-end: contenido;
}

.Cproduc {
    display: grid;
    grid-template-columns: minmax(70px, 150px) minmax(50px, 1fr);
    grid-template-rows: minmax(50px, auto);
    grid-template-areas: "imagen infomaP";
}


/* FIN DE GRID */


/* MEDIA */

@media screen and (min-width: 700px) and (max-width: 830px) {
    .formu {
        display: grid;
        grid-template-columns: minmax(20px, 30px) minmax(250px, 1fr) minmax(20px, 30px);
        grid-template-rows: minmax(20px, 50px) minmax(150px, auto) minmax(20px, 50px);
        grid-template-areas: "espaIz Cabeza espaDe" "espaIz formulario espaDe" "espaIz espaIn espaDe";
    }
}

@media screen and (max-width: 600px) {
    .item2 {
        display: none;
    }
    .contenedor {
        display: grid;
        grid-gap: 4px;
        grid-template-columns: minmax(120px, 1fr);
        grid-template-rows: minmax(150px, auto);
    }
    .item1 .row .card {
        margin: .5%;
        width: 100%;
    }
    .cont1 {
        display: none;
    }
    .cont4 {
        display: none;
    }
    h7 {
        font-size: 13px;
    }
    .visible-ubi {
        display: none;
    }
    .cont5 {
        grid-column-start: logo;
        grid-column-end: espacio;
    }
    .cont3 {
        grid-column-start: redes;
        grid-column-end: contacto;
    }
    .form-control {
        width: 95%;
        color: #343838;
        font-size: 12px;
    }
    .formu {
        display: grid;
        grid-template-columns: minmax(20px, 30px) minmax(250px, 1fr) minmax(20px, 30px);
        grid-template-rows: minmax(20px, 50px) minmax(150px, auto) minmax(20px, 50px);
        grid-template-areas: "espaIz Cabeza espaDe" "espaIz formulario espaDe" "espaIz espaIn espaDe";
    }
    .formuL {
        display: grid;
        grid-template-columns: minmax(20px, 30px) minmax(250px, 1fr) minmax(20px, 30px);
        grid-template-rows: minmax(20px, 50px) minmax(150px, auto) minmax(200px, 50px);
        grid-template-areas: "espaIz Cabeza espaDe" "espaIz formulario espaDe" "espaIz espaIn espaDe";
    }
}